@import url('https://fonts.googleapis.com/css2?family=Anta&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: #e5a90c;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(7, 20, 37, 0.95);
    backdrop-filter: blur(9px);
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    z-index: 99;
}

#burger-toggle {
    display: none;
}

.burger-menu-image {
    display: none;
}

.mob-menu {
    display: none;
    height: 2rem;
    width: auto;
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

nav ul li a {
    color: rgba(240, 248, 255, 0.861);
}

nav ul li a:hover {
    color: rgb(240, 248, 255);
}

.contact-button {
    background-color: #e5a70c99;
    padding: 0.5rem 1rem;
    border: 2px solid #e5a70c;

}

.contact-button:hover {
    background-color: #e5a70ccf;

}

.logo {
    height: 4rem;
    width: auto;
}

/* Hero Section */
.hero-section {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #071425;
    overflow: hidden;
}

.hero-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    max-width: 1486px;
    justify-content: center;
    align-items: center;
    padding: 4vh;
    margin-top: 8vh;
}

.hero-text {
    width: 100%;
    padding: 2%;
}

.hero-image {
    width: auto;
    height: 60vh;
}

.hero-text h1 {
    position: relative;
    display: inline-block;
    color: rgb(7, 20, 37);
    font-size: 6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.hero-text h4 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.hero-text h6 {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
    text-transform: uppercase;
}

/* Info Section */
.section-info {
    background-color: rgba(7, 20, 37, 0.98);
    padding: 1.4cqi 2rem;
    color: #ddd0bd;
    font-size: 1.25rem;
    text-align: center;
    line-height: 2.25rem;
    margin: 0 2.4%;
    backdrop-filter: blur(10px);
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.section-info p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 32s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Features Section */
.features-section {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    margin: 0 2.4%;
    position: relative;
    justify-content: center;
}

.tall-main-image {
    height: 98vh;
    width: auto;
    margin-top: 1rem;
    position: sticky;
    top: 10vh;
}

.features-info-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 2vh;
}

.section-1,
.section-2 {
    display: flex;
    margin-top: 1.5rem;
    position: relative;
}

.section-1 {
    background-color: #071425;
    color: #ddd0bd;
}

.section-2 {
    background-color: #e5a70c00;
    color: #071425;
}


.section-1 div,
.section-2 div {
    padding: 2rem;
}

.section-1 h4,
.section-2 h4 {
    font-size: 1.8rem;
    text-transform: uppercase;
}

.section-1 p,
.section-2 p {
    padding-top: 0.5rem;
    font-size: 1.1rem;
    line-height: 2rem;
}

.section-1 img,
.section-2 img {
    height: 280px;
    width: auto;
    object-fit: cover;
}

/* Media Queries */

@media (max-width: 1296px) {


    .hero-text h1 {
        font-size: 4rem;
    }

    .hero-image {
        width: auto;
        height: 50vh;
    }

    .tall-main-image {
        position: absolute;
        opacity: 0.3;
    }

    .features-info-section>section:nth-of-type(5) {
        flex-direction: column;
    }


}



@media (max-width: 844px) {
    .hero-content {
        flex-direction: column;
    }

    .hero-text {
        text-align: center;
    }

    .hero-text h1 {
        font-size: 3.6rem;
    }


    .section-info {
        padding: 2rem 1rem;
    }

    .tall-main-image {
        margin-top: 5rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .section-1,
    .section-2 {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .section-2 {
        background-color: #e5a90c;
    }

    .features-section>section:nth-of-type(2),
    .features-section>section:nth-of-type(6),
    .features-section>section:nth-of-type(5) {
        margin-left: 1rem;
    }


}

@media (max-width: 660px) {
    .mob-menu {
        display: block;
    }

    nav ul {
        display: none;
    }

    .burger-menu-image {
        display: block;
    }

    #burger-toggle:checked~ul {
        display: flex;
        position: absolute;
        top: 4rem;
        left: 0;
        width: 100%;
        background-color: #071425;
        flex-direction: column;
        padding: 1rem 0 2rem;
        z-index: 100;
        align-items: center;
    }

    .burger-menu-image {
        height: 32px;
        width: 32px;
        padding: 2px;
        opacity: 0.9;
    }

        .hero-image {
        width: 90vw;
        height: auto;
        margin-top: 2vh;
    }

    .section-1,
    .section-2 {
        flex-direction: column-reverse;
        align-items: center;
    }

    .section-1 img,
    .section-2 img {
        margin-top: 2rem;
    }

    .features-info-section>section:nth-of-type(4),
    .features-info-section>section:nth-of-type(5) {
        flex-direction: column;
    }
}

@media (max-width: 550px) {
    .tall-main-image {
        height: 1450px;
        width: 350px;
        margin-top: 5rem;
    }

    .hero-text h1 {
        font-size: 2.6rem;
    }

    .hero-text h4 {
        font-size: 1rem;
    }

    .hero-text h6 {
        font-size: 1rem;
    }

    .section-info {
        padding: 1rem 0.5rem;
        font-size: 1rem;
        line-height: 1.8rem;
    }

    .section-1,
    .section-2 {
        margin-top: 0.5rem;
    }

    .section-1 div,
    .section-2 div {
        padding: 1rem;
    }

    .section-1 h4,
    .section-2 h4 {
        font-size: 1.4rem;
    }

    .section-1 p,
    .section-2 p {
        font-size: 1rem;
        line-height: 1.8rem;
    }

    .section-1 img,
    .section-2 img {
        margin-top: 0.5rem;
        height: 200px;
    }

}